.about-me {
    background-color: var(--color-primary);
}


.about-me__box {
    display: flex;
    padding: 6rem 0;
    margin: 0 8rem;
    
}

.about-me__information{
    width: 60%;
    font-weight: 100;
    font-size: 1.35rem;
}

.about-me__text {
    margin-bottom: 4rem;
}

.about-me__text h4 {
    color: var(--color-gray);
    margin-bottom: 1rem;
    font-size: 1.35rem;
    font-weight:400;
    
}
.about-me__text > span{
    font-size: 1.15rem;
    color: var(--color-gray);
    line-height: 150%;
}

.about-me__buttons {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    width: 100%;
}

.about-me__btn {
    all: unset;
    position: relative; /* Establecer posición relativa para el botón */
    font-size: 1rem;
    margin-right: 1rem;
    padding: 0 1rem 0 0;
    padding-left: 0.4rem;
    color: var(--color-active);
    font-weight: 400;
    cursor: pointer;
}

.activeButton::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 3px;
    background-color: var(--color-active);
    animation: slideIn 0.s ease forwards; /* Agrega una animación al pseudo-elemento */
}

@keyframes slideIn {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

.about-me__list {
    padding-top: 1rem;
    margin-bottom: 2rem;
    padding-right: 1.15rem;
    border-top: 1px solid var(--color-active);
}

.about-me__typelist {
    margin: 1rem 0;
    color: var(--color-gray);
}

.about-me__typelist h4{
    font-size: 1.15rem;
    cursor: pointer;
    font-weight: 600;
}

.about-me__typelist h4:hover{
    color: var(--color-active);
    
}

.about-me__typelist span{
    font-size: 1.15rem;

}

.about-me__img {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.about-me__img img{
   width: 280px;
   height: 498px;
   border: 2px solid var(--color-active)
}

@media screen and (max-width: 1024px){
    
    
    .about-me__box {
        margin: 0 4rem;
        flex-direction: column;
    }
    
    .about-me__information{
        width: 100%;
        margin-bottom: 4rem;
    }
    
    
    
    .about-me__text h4 {
        font-size: 1.20rem;
        
    }
    .about-me__text > span{
        font-size: 1.15rem;
        color: var(--color-gray);
        line-height: 150%;
    }
    
    .about-me__buttons {
        display: flex;
        justify-content: flex-start;
        padding: 1rem;
        width: 100%;
    }
    
    .about-me__btn {
        all: unset;
        position: relative; /* Establecer posición relativa para el botón */
        font-size: 1rem;
        margin-right: 1.15rem;
        padding-left: 0.4rem;
        color: var(--color-active);
        font-weight: 400;
        cursor: pointer;
    }
    
    .activeButton {
        transition: all 0.5s ease;
    }

    .activeButton::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 3px;
        background-color: var(--color-active);
        animation: slideIn 0.3s ease forwards; /* Agrega una animación al pseudo-elemento */
}

@keyframes slideIn {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}
    
    
    .about-me__list {
        margin-bottom: 2rem;
        margin-right: 0;
    }
    
    .about-me__typelist {
        margin: 1rem 0;
        color: var(--color-gray);
    }
    
    .about-me__typelist h4{
        font-size: 1.15rem;
        cursor: pointer;
    }
    
    .about-me__typelist h4:hover{
        color: var(--color-active);
        
    }
    
    .about-me__typelist span{
        font-size: 1.15rem;
    
    }
    
    .about-me__img {
        width: 100%;
        
    }
    
    .about-me__img img{
       width: 280px;
       height: 498px;
       border: 2px solid var(--color-active)
    }
    
}

@media screen and (max-width: 768px){
    
    
    .about-me__box {
        margin: 0 4rem;
        padding: 4rem 0;
        flex-direction: column;
    }
    
    .about-me__information{
        width: 100%;
        margin-bottom: 4rem;
    }
    
    
    
    .about-me__text h4 {
        font-size: 1.20rem;
        
    }
    .about-me__text > span{
        font-size: 1.15rem;
        color: var(--color-gray);
        line-height: 150%;
    }
    
    .about-me__buttons{
        margin: 2rem 0;
    }

    .about-me__btn{
        font-size: 1rem;
    }
    
    .about-me__list {
        margin-bottom: 2rem;
        margin-right: 0;
    }
    
    .about-me__typelist {
        margin: 1rem 0;
        color: var(--color-gray);
    }
    
    .about-me__typelist h4{
        font-size: 1.15rem;
        cursor: pointer;
    }
    
    .about-me__typelist h4:hover{
        color: var(--color-active);
        
    }
    
    .about-me__typelist span{
        font-size: 1.15rem;
    
    }
    
    .about-me__img {
        width: 100%;
        
    }
    
    .about-me__img img{
       width: 280px;
       height: 498px;
       border: 2px solid var(--color-active)
    }
    
}

@media screen and (max-width: 576px){
    
    .about-me__box {
        margin: 0 2rem;
        padding: 2rem 0;
        flex-direction: column;
    }
    
    .about-me__information{
        width: 100%;
        margin-bottom: 2rem;
    }
    
    
    
    .about-me__text h4 {
        font-size: 1.20rem;
        
    }
    .about-me__text > span{
        font-size: 1.15rem;
        color: var(--color-gray);
        line-height: 150%;
    }
    
    .about-me__buttons{
        flex-direction: column;
        margin: 1rem 0;
        padding: 0;
        align-items: flex-start;
    }

    .about-me__btn {
        font-size: 1.1rem;
        color: var(--color-active);
        margin: 0.5rem 0;
        padding-left: 0.5rem;
    }

    .about-me__btn {
        border-bottom: none;
    }


    
    .about-me__list {
        margin-bottom: 2rem;
        margin-right: 0;
    }
    
    .about-me__typelist {
        margin: 1rem 0;
        color: var(--color-gray);
    }
    
    .about-me__typelist h4{
        font-size: 1.15rem;
        cursor: pointer;
    }
    
    .about-me__typelist h4:hover{
        color: var(--color-active);
        
    }
    
    .about-me__typelist span{
        font-size: 1.15rem;
    
    }
    
    .about-me__img {
        width: 100%;
        
    }
    
    .about-me__img img{
       width: 280px;
       height: 498px;
       border: 2px solid var(--color-active)
    }
    
}