.skills__box-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    justify-content: space-around; 
}


.javaScript{
    background: url(/assets/images/skills/JS.png);
    background-size: 70px 70px;
}



.css{
    background: url(/assets/images/skills/css.png);
    background-size: 70px 70px;   
}

.html{
    background: url(/assets/images/skills/html.png);
    background-size: 70px 70px;   
}

.react{
    background: url(/assets/images/skills/react.png);
    background-size: 70px 70px;
}

.python{
    background: url(/assets/images/skills/python.png);
    background-size: 70px 70px;
}

.mysql{
    background: url(/assets/images/skills/mysql.png);
    background-size: 70px 70px;  
}

.javaScript, .css, .html, .react, .python, .mysql {
    background-repeat: no-repeat;
    font-size: 1.35rem;
    background-position: center center;
    cursor: pointer;
    transition: all 0.3s ease;
}




@media screen and (max-width: 1024px) {
    
    .javaScript, .css, .html, .react, .python, .mysql {
        background-size: 80px 80px;
        
    }
}

@media screen and (max-width: 768px) {
    
    
    .javaScript, .css, .html, .react, .python, .mysql {
        background-size: 70px 70px;
        
    }
}
