.skills__box-span {
    font-size: 1.35rem;
    font-weight: 100;
    line-height: 150%;
    width: 100%;
    padding-bottom: 3rem;
}

@media screen and (max-width: 1024px){

    .skills__box-span {
        font-weight: 100;
        line-height: 150%;
        width: 100%;
        padding-bottom: 3rem;
        font-size: 1.25rem;

    }
}

@media screen and (max-width: 768px){

    .skills__box-span {
        font-size: 1.20rem;
        width: 100%;
    }
}

@media screen and (max-width: 576px){

    .skills__box-span {
        font-size: 1.15rem;
        width: 100%;
    }
}