.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999; /* Aseguramos que el navbar esté por encima del contenido */
    background-color: transparent; /* Establecemos el fondo transparente inicial */
    transition: background-color 0.3s ease; /* Añadimos una transición para el cambio de fondo */
}

.header i {
    display: none;
}

.header.solid-background {
    background-color: var(--color-primary); /* Cambiar el valor a tu color sólido deseado */
}


@media screen and (max-width: 1024px){
    .header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 768px){

    .header{
        height: 100%;
    }

}