



:root {
    --color-black: #000;
    --color-white: #FFF;
    --color-gray: #dfdfdf;
    --color-icon: #838383;
    --color-primary: #180020;
    --color-secondary: #400056;
    --color-terciary: #540072;
    --color-active: #af21e3;;
}

html{
    scroll-behavior: smooth;
}

body {
    /*
    background: linear-gradient(0deg, rgba(114,0,109,1) 0%, rgba(64,0,86,1) 95%, rgba(24,0,32,1) 100%);
    background-repeat: no-repeat;*/
    background-color: #000;

}


.button {
    color: var(--color-active);
    outline: none;
    border: none;
    font-size: 17px;
    padding: 1em 2em;
    position: relative;
    background: none;
    cursor: pointer;
  }
  
  .button:active {
    transform: scale(.98);
    box-shadow: .1px .1px 2px var(--color-active);
  }
  
  .button span {
    position: absolute;
    background: var(--color-active);
    transition: .5s;
    box-shadow: 1px 1px 7px var(--color-active);
  }
  
  .button span:nth-child(1) {
    top: 0;
    left: 0;
    width: 3px;
    height: 30%;
  }
  
  .button:hover span:nth-child(1) {
    height: 100%;
  }
  
  .button span:nth-child(2) {
    top: 0;
    left: 0;
    width: 15%;
    height: 3px;
  }
  
  .button:hover span:nth-child(2) {
    width: 100%;
  }
  
  .button span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 3px;
    height: 30%;
  }
  
  .button:hover span:nth-child(3) {
    height: 100%;
  }
  
  .button span:nth-child(4) {
    bottom: 0;
    right: 0;
    width: 15%;
    height: 3px;
  }
  
  .button:hover span:nth-child(4) {
    width: 100%;
  }
  