
.navbar-container {
    display: flex;
    justify-content: flex-end;
    height: 5rem;
    position: relative;
}

.navbar {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-start;
    width: 45%;
    height: 5rem;
}

.navbar__ul {
    display: flex;
    height: 2rem;
    width: 100%;
    align-items: center;
}

.navbar__ul-li {
    margin: 0 1rem;
    font-size: 1rem;
    color: var(--color-gray);
}

.navbar__ul-li.active {
    color: var(--color-active); /* Color rosa para el enlace activo */
}

@media screen and (max-width: 1024px){
    .navbar-container {
        height: 4rem;
    }
    
    .navbar {
        display: none;

    }
    
}